html {
  font-family             : sans-serif;
  -ms-text-size-adjust    : 100%;
  -webkit-text-size-adjust: 100%
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  outline       : 0;
  font-size     : 100%;
  vertical-align: baseline;
  background    : transparent
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display       : inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height : 0
}

[hidden],
template {
  display: none
}

a {
  background     : transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: bold
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color     : #000
}

sub,
sup {
  font-size     : 75%;
  line-height   : 0;
  position      : relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height    : 0
}

pre {
  overflow: auto
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size  : 1em
}

button,
input,
optgroup,
select,
textarea {
  margin: 0
}

button {
  overflow       : visible;
  outline        : none;
  border         : none;
  background     : none;
  list-style-type: none;
}

input:focus,
button:focus {
  outline: 0;
}

input:active,
button:active {
  outline: 0;
}

input:visited,
button:visited {
  outline: 0
}


textarea {
  overflow: auto
}




ul,
li,
dl,
dt,
dd {
  list-style: none;
}



.float-left {
  float: left
}

.float-right {
  float: right
}

.float-clear:after {
  content: "";
  display: block;
  clear  : both
}

html {
  height: 100%;
}

body {
  min-width  : 320px;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  font-size  : 16px;
  height     : 100%;
  background : #fff;
}

div {
  box-sizing: border-box
}

html {
  font-size: 14px
}

@media screen and (min-width:321px) and (max-width:375px) {
  html {
    font-size: 16px
  }
}

@media screen and (min-width:376px) and (max-width:414px) {
  html {
    font-size: 18px
  }
}

@media screen and (min-width:415px) and (max-width:639px) {
  html {
    font-size: 20px
  }
}

@media screen and (min-width:640px) and (max-width:719px) {
  html {
    font-size: 24px
  }
}

@media screen and (min-width:720px) and (max-width:749px) {
  html {
    font-size: 28px
  }
}

@media screen and (min-width:750px) and (max-width:799px) {
  html {
    font-size: 30px
  }
}

@media screen and (min-width:800px) {
  html {
    font-size: 48px
  }
}

.container {
  width: 100%;
}

.lucky-wheel {
  width          : 100%;
  height         : 31.5625rem;
  background     : rgb(252, 207, 133) url("../../asset/images/color_pillar.png") no-repeat center bottom;
  background-size: 100%;
  padding-top    : 1.5625rem;
}

.lucky-title {
  width          : 100%;
  height         : 8.125rem;
  background     : url("../../asset/images/lucky_title.png") no-repeat center top;
  background-size: 100%;
}

.wheel-main {
  display        : flex;
  align-items    : center;
  justify-content: center;
  position       : relative;
}

.wheel-bg {
  width          : 18.4375rem;
  height         : 18.4375rem;
  background     : url("../../asset/images/draw_wheel.png") no-repeat center top;
  background-size: 100%;
  color          : #fff;
  font-weight    : 500;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-content  : center;
  transition     : transform 3s ease;
}

.wheel-pointer-box {
  position : absolute;
  top      : 50%;
  left     : 50%;
  z-index  : 100;
  transform: translate(-50%, -60%);
  width    : 5.3125rem;
  height   : 5.3125rem;
}

.wheel-pointer {
  width           : 5.3125rem;
  height          : 5.3125rem;
  background      : url("../../asset/images/draw_btn.png") no-repeat center top;
  background-size : 100%;
  transform-origin: center 60%;
}

.wheel-bg div {
  text-align: center;
}

.prize-list {
  width   : 100%;
  height  : 100%;
  position: relative;
}

.prize-list .prize-item {
  position: absolute;
  top     : 0;
  left    : 0;
  z-index : 2;
}

.prize-list .prize-item:first-child {
  top      : 0;
  left     : 8.3125rem;
  transform: rotate(20deg);
}

.prize-list .prize-item:nth-child(2) {
  top      : 2.8rem;
  left     : 10.8rem;
  transform: rotate(67deg);
}

.prize-list .prize-item:nth-child(3) {
  top      : 6.4rem;
  left     : 10.6rem;
  transform: rotate(-250deg);
}

.prize-list .prize-item:nth-child(4) {
  top      : 9rem;
  left     : 8.2125rem;
  transform: rotate(-210deg);
}

.prize-list .prize-item:nth-child(5) {
  top      : 9.2125rem;
  left     : 4.4rem;
  transform: rotate(-160deg);
}

.prize-list .prize-item:nth-child(6) {
  top      : 6.3875rem;
  left     : 1.9rem;
  transform: rotate(-111deg);
}

.prize-list .prize-item:nth-child(7) {
  top      : 2.8rem;
  left     : 1.8125rem;
  transform: rotate(-69deg);
}

.prize-list .prize-item:nth-child(8) {
  top      : 0;
  left     : 4.5rem;
  transform: rotate(-20deg);
}

.prize-item {
  width : 5.875rem;
  height: 9rem;
}

.prize-pic img {
  width     : 4.0625rem;
  height    : 2.5rem;
  margin-top: 1.5625rem;
}

.prize-count {
  font-size: 0.875rem;
}

.prize-type {
  font-size: 0.75rem;
}

.main {
  position      : relative;
  width         : 100%;
  min-height    : 14.25rem;
  background    : rgb(243, 109, 86);
  padding-bottom: 1.6875rem;
}

.main-bg {
  width          : 100%;
  height         : 6.5625rem;
  position       : absolute;
  top            : -3.4375rem;
  left           : 0;
  background     : url("../../asset/images/luck_bg.png") no-repeat center top;
  background-size: 100%;
}

.bg-p {
  width     : 100%;
  height    : 2.95rem;
  background: rgb(252, 207, 133);
}

.content {
  position    : absolute;
  top         : 0.175rem;
  left        : 0;
  background  : rgb(243, 109, 86);
  width       : 100%;
  height      : 5.1875rem;
  font-size   : 1.125rem;
  color       : #ffeb39;
  padding-left: 6.75rem;
}

.content div {
  text-align: left;
}

.tip {
  position: relative;
  margin  : 2.5rem auto 0;
  width   : 17.5rem;
  border  : 1px solid #fbc27f;
}

.tip-title {
  position  : absolute;
  top       : -1rem;
  left      : 50%;
  transform : translate(-50%, 0);
  font-size : 1rem;
  color     : #fccc6e;
  background: rgb(243, 109, 86);
  padding   : 0.3125rem 0.625rem;
}

.tip-content {
  padding    : 1.5625rem 0.625rem;
  font-size  : 0.875rem;
  color      : #fff8c5;
  line-height: 1.5;
}

.toast-mask {
  position  : fixed;
  top       : 0;
  left      : 0;
  background: rgba(0, 0, 0, 0.6);
  z-index   : 10000;
  width     : 100%;
  height    : 100%;
}

.toast {
  position        : fixed;
  top             : 50%;
  left            : 50%;
  z-index         : 20000;
  transform       : translate(-50%, -50%);
  width           : 15.4375rem;
  background      : #fff;
  border-radius   : 0.3125rem;
  padding         : 0.3125rem;
  background-color: rgb(252, 244, 224);
}

.toast-container {
  position: relative;
  width   : 100%;
  height  : 100%;
  border  : 1px dotted #fccc6e;
}

.toast-picture {
  position: absolute;
  top     : -6.5rem;
  left    : -1.5rem;
  width   : 18.75rem;
  height  : 8.5625rem;
}

.toast-pictrue-change {
  position: absolute;
  top     : -1.5rem;
  left    : -1.375rem;
  width   : 17.5rem;
  height  : 3.125rem;
}

.toast-title {
  padding   : 2.8125rem 0;
  font-size : 18px;
  color     : #fc7939;
  text-align: center;
}

.toast-btn {
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin-bottom  : 0.9375rem;
}

.toast-btn div {
  background-image: -moz-linear-gradient(-18deg,
      rgb(242, 148, 85) 0%,
      rgb(252, 124, 88) 51%,
      rgb(252, 124, 88) 99%);

  background-image: -ms-linear-gradient(-18deg,
      rgb(242, 148, 85) 0%,
      rgb(252, 124, 88) 51%,
      rgb(252, 124, 88) 99%);
  background-image: -webkit-linear-gradient(-18deg,
      rgb(242, 148, 85) 0%,
      rgb(252, 124, 88) 51%,
      rgb(252, 124, 88) 99%);
  box-shadow   : 0px 4px 0px 0px rgba(174, 34, 5, 0.7);
  width        : 4.6875rem;
  height       : 1.875rem;
  border-radius: 1.875rem;
  text-align   : center;
  line-height  : 1.875rem;
  color        : #fff;
}

.close {
  position       : absolute;
  top            : -0.9375rem;
  right          : -0.9375rem;
  width          : 2rem;
  height         : 2rem;
  background     : url("../../asset/images/close_store.png") no-repeat center top;
  background-size: 100%;
}